body {
  background-color: #f7f7f7;
  font-size: 40px;
}

.wrapper {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h2 {
  margin: 0;
}

.break-session-length {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.button-wrapper {
  text-align: center;
}

button {
  border: none;
  padding: 8px;
  font-size: 28px;
  border-radius: 4px;
}

div > button {
  background-color: transparent;
  color: #e74c3c; 
  font-size: 40px;
}

div button:nth-child(2) {
  background-color: transparent;
  color: #3498db; 
}

strong {
  margin: 0 8px;
}

.timer {
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #636363;
  box-shadow: 0 0 10px #636363;
}

.timer > h2{
  font-size: 40px;
  font-weight: 500;
}
.timer > h3{
  font-size: 60px;
  margin: 10px;
}



.timer-wrapper > button {
  text-align: center;
  margin-left: 50px;
  background-color: transparent;
  color: #27ae60;
}


@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px; 
  }
  
  .break-session-length {
    max-width: 80%; 
  }
  
  button {
    padding: 6px;
  }
}

